<tr>
  <th scope="row"><%= order_item.id %></th>
  <td><%= link_to order_item.user_name, order_item.user %></td>
  <td><%= t("product_price", price: order_item.totalamount) %></td>
  <td><%= order_item.status %></td>
  <td>
    <%= link_to t("orders.index.details"), edit_admin_order_path(order_item.id), method: :get, class: "btn btn-primary btn-rounded btn-sm my-0" %>
  </td>
</tr>
