<tr>
  <th scope="row"><%= order_detail.id %></th>
  <td><%= order_detail.product.productname %></td>
  <td><%= t("product_price", price: order_detail.unitprice) %></td>
  <td><%= order_detail.quantity %></td>
  <td><%= t("product_price", price: total_price(order_detail.quantity, order_detail.unitprice)) %></td>
</tr>
