<% provide :title, t("static_pages.users.sign_up") %>
<h1><%= t "static_pages.users.sign_up" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages" %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control" %>
      <%= f.label :phone %>
      <%= f.text_field :phone, class: "form-control" %>
      <%= f.radio_button :gender, "male", :checked => true, class: "form-control" %>
      <%= label :gender, "Male" %>
      <%= f.radio_button :gender, "female", class: "form-control" %>
      <%= label :gender, "Female" %><br>
      <%= f.label :avartar, "Image" %>
      <%= f.file_field :avartar, class: "form-control" %>
      <%= f.submit t("static_pages.users.create_acc"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
