<div class="row">
  <tr>
    <th scope="row"><%= product.id %></th>
    <td><%= product.productname %></td>
    <td><%= product.category_title %></td>
    <td><%= t("product_price", price: product.price) %></td>
    <td><%= product.status %></td>
  </tr>
</div>
