<div class="row">
  <div class="col-md-12">
    <p><%= t "admin.categories.show.del_continue" %><%= link_to t("products.show.del"), admin_category_path(@category.id, confirm_delete: "true"), method: :delete, data: {confirm: t("products.show.sure")}, class: "btn btn-primary btn-rounded btn-sm my-0" %></p>
  </div>
  <hr>
  <div class="col-md-12">
    <p><%= t "admin.categories.show.sel_cate" %></p>
    <%= form_for(@category, url: admin_category_path(@category,
       confirm_delete_update: "true"), method: :delete ) do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.collection_select :id, @categories, :id, :long_name, {},
         {:class=>"form-control"} %>
      <%= f.submit t("products.edit.sub"), class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="col-md-12">
    <table class="table table-striped table-responsive-md btn-table">
      <thead>
        <tr>
          <th><%= t "admin.orders.index.id" %></th>
          <th><%= t "admin.orders.index.productname" %></th>
          <th><%= t "admin.orders.index.category" %></th>
          <th><%= t "admin.orders.index.price" %></th>
          <th><%= t "admin.orders.index.status" %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "product_in_category", collection: @products, as: :product %>
      </tbody>
    </table>
    <%= will_paginate @products %>
  </div>
</div>
