<h1><%= t "products.edit.edit_book" %></h1>
<%= form_for [:admin, @product] do |f| %>
  <%= render "shared/error_messages_product" %>
  <%= f.label :category %>
  <%= f.select :category_id, @categories, {}, {class: "form-control"} %>
  <%= f.label :productname %>
  <%= f.text_field :productname, class: "form-control" %>
  <%= f.label :author %>
  <%= f.text_field :author, class: "form-control" %>
  <%= f.label :price %>
  <%= f.text_field :price, class: "form-control" %>
  <%= f.label :discount %>
  <%= f.text_field :discount, class: "form-control" %>
  <%= f.label :onhand %>
  <%= f.text_field :onhand, class: "form-control" %>
  <%= f.label :image %>
  <%= f.file_field :image, class: "form-control" %>
  <%= f.label :productcontent %>
  <%= f.text_area(:productcontent, size: "50x20") %>
 <%= f.label :status %>
  <%= f.select(:status, options_for_select(Product.statuses.keys, @product.status), {}, {class: "form-control"}) %>
  <%= f.submit t("products.edit.sub"), class: "btn btn-primary" %>
<% end %>
