<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".book"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".home"), root_path %></li>
        <li><%= link_to t(".help"), help_path %></li>
        <li class="dropdown">
          <%= link_to "#", class: "dropdown-toggle", data: {toggle: :dropdown} do %>
            <%= t(".category") %><b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <% Category.all.each do |category| %>
              <li class="<%= "active" if params[:category] == category.title %>" ><%= link_to category.title, products_path(category: category.title), class: "link" %></li>
            <% end %>
          </ul>
        </li>
        <% if logged_in? %>
          <li><%= link_to t(".users"), users_path %></li>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle", data: {toggle: :dropdown} do %><%= t(".account") %><b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to t(".profile"), current_user %></li>
              <li><%= link_to t(".setting"), edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".log_out"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
          <% if current_user.admin? %>
            <li class="dropdown">
              <%= link_to "#", class: "dropdown-toggle", data: {toggle: :dropdown} do %>
                <%= t ".admin" %><b class="caret"></b>
              <% end %>
              <ul class="dropdown-menu">
                <li><%= link_to t(".list_order"), admin_orders_path %></li>
                <li><%= link_to t(".list_product"), admin_products_path %></li>
                <li><%= link_to t(".add_book"), new_admin_product_path %></li>
                <li><%= link_to t(".list_cate"), admin_categories_path %></li>
                <li><%= link_to t(".add_cate"), new_admin_category_path %></li>
              </ul>
            </li>
          <% end %>
        <% else %>
          <li><%= link_to t(".log_in"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
